#url 			{font-size: 15px;}
#date 			{font-size: 15px;}
#lastModified  	{font-weight: bold; font-size: 10px}
#info			{text-align: center; border-style: solid} 
#mainPoints > li:nth-child(2) {font-size:20px;}
#mainPoints > li:nth-child(4) {font-size:25px; font-family:verdana; color: green;}

table			{width:100%;}
table, th, td	{border: 1px solid black; border-collapse: collapse;}
th, td			{padding: 5px;}
button 			{color: red;}
td:nth-child(1){font-size:25px; color:purple;}
td:nth-child(2){font-size:12px; padding: 5px; text-align: center}
td:nth-child(3){text-align: right;}
td:nth-child(4){text-align: center;}

