#url 			{font-size: 15px;}
#date 			{font-size: 15px;}
#lastModified  	{font-weight: bold; font-size: 10px}
#info			{text-align: center; border-style: solid} 

//table			{width:100%;}
table, th, td	{border: 1px solid black; border-collapse: collapse;}
th, td			{padding: 5px;}
td:nth-child(1) {font-size:25px; color:purple; text-align: center}

